{% extends "base/base.html" %}
{% include 'include/inc-menu.html' %}
{% block body %}
<h2>Добавить курс в категории</h2>

<form method="post">

    <select size="3" name="category">
        {% for item in objects_list %}
            {% for item in item.categories %}
            <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
        {% endfor %}
    </select>
    <select size="3" name="course">
        {% for item in objects_list %}
            {% for item in item.course %}
            <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
        {% endfor %}
    </select>
    <button type="submit">Сохранить</button>
</form>
<h2>Записать студента на курс</h2>
<form method="post">
    <select size="3" name="person">
        {% for item in objects_list %}
            {% for item in item.student %}
                {% if item.user_type == 'student' %}
                <option value="{{item.id}}">{{item.lastname}}</option>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </select>
    <select size="3" name="course">
        {% for item in objects_list %}
            {% for item in item.course %}
            <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
        {% endfor %}
    </select>
    <button type="submit">Сохранить</button>
</form>
<h2> Реализованный функционал и возможности в проекте: "Обучающий сайт":</h2>
<ol>
<li>Получать и отвечать на get запросы пользователя (код ответа + html страница)</li>
<li>Получать и обрабатывать post-запросы</li>
<li>Для разных url - адресов отвечать разными страницами</li>
<li>Без изменения фреймворка добавлять view для обработки нового адреса (page controller)</li>
<li>Без изменения фреймворка вносить изменения в обработку всех запросов (front controller)</li>
<li>Декоратор @debug - в терминал выводятся название функции и время ее выполнения</li>
<li>Реализовано создание (регистрация) пользователей 3-х типов: пользователи, студенты, учителя.</li>
<li>Вывод списка пользователей, студентов, учителей.</li>
<li>Студенты, которые могут записаться на один или несколько курсов</li>
<li>Создание категории курсов</li>
<li>Вывод списка категорий</li>
<li>Добавление курсов в категории</li>
<li>Создание курса, разных видов: офлайн, онлайн.</li>
<li>Вывод списка курсов</li>
<li>Возможность копирования уже существующего курса</li>
</ol>

<h3> Что  планируется добавить:</h3>
<ol>
<li>Создать страницу для изменения курса. После изменения отправлять уведомления всем студентам на курсе по sms,
    email (для имитации можно просто выводить сообщения в консоль). Также известно, что в будущем способов уведомления
    будет больше</li>
<li>Добавить возможность применять цикл for к объекту категории курса (в каждой итерации получаем курс) и объекта
    курса (в каждой итерации получаем студента). Например for student in course: … for course in group</li>
<li>Создать api для курсов. По определенному адресу выводить не веб-страницу, а отдавать пользователю данные о
    списке курсов в формате json</li>
<li>Улучшить логгер (или добавить если его нет). Добавить в логгер возможность писать в файл, в консоль. Также
    известно что в будущем вариантов сохранения может быть еще больше</li>
<li>Реализовать CBV (Class Based VIews). Возможность создавать view в виде класса</li>
<li>После на страницу списка категорий добавить вывод количества курсов в каждой из категорий. Например
    Программирование - 10, Web - 5, Python - 3, …</li>
<li>В проект добавить страницу контактов на которой пользователь может отправить нам сообщение
    (пользователь вводит тему сообщения, его текст, свой email)</li>
<li>После отправки реализовать сохранение сообщения в файл, либо вывести сообщение в терминал
    (базу данных пока не используем)</li>
<li>Добавить декоратор для добавления связки url-view в приложение, чтобы можно было добавлять url-ы,
    как в фреймворке Flask @app(‘/some_url/’)</li>
</ol>
<br><br><br>
{% endblock %}
